@page
@model IndexModel
@{
    ViewData["Title"] = "Categories";
}

<div class="text-center">
    <h1 class="display-4">Категории товаров</h1>
    <table>
		@foreach (var category in Model.Categories)
		{
			<tr>
				<td>@category.Name</td>
				<td>
					<a href='@Url.Page("Products", new { name = category.Name })'>Перейти</a>
				</td>
			</tr>
		}
    </table>
</div>
