@page "{id?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Категории товаров</h1>
    <table>
		@foreach (var category in Model.Categories)
		{
			<tr>
				<td>@category.Name</td>
				<td><button>Перейти</button></td>
			</tr>
		}
    </table>
</div>
