@page "{id}"
@model OrderModel
@{
	ViewData["Title"] = "Order";
}
<div>
	<h1>Покупка @Model.Product.Name</h1>
	<form asp-page="Order">
		<div>
			<label asp-for="Input.Number"></label>
			<input id="number" asp-for="Input.Number"/>
			<span asp-validation-for="Input.Number"></span>
		</div>
		<div>
			<label asp-for="Input.Adress"></label>
			<input asp-for="Input.Adress" />
			<span asp-validation-for="Input.Adress"></span>
		</div>
		<span id="price">Цена: 0</span><br/>
		<input type="submit" value="Отправить">
	</form>
</div>