@page "{id}"
@model OrderModel
@{
	ViewData["Title"] = "Order";
}
<div>
	<h1>Покупка @Model.Product.Name</h1>
	<form asp-page="Order">
		<div>
			<label asp-for="Input.Number"></label>
			<input id="number" asp-for="Input.Number"/>
			<span asp-validation-for="Input.Number"></span>
		</div>
		<div>
			<label asp-for="Input.Address"></label>
			<input asp-for="Input.Address" />
			<span asp-validation-for="Input.Address"></span>
		</div>
		<span id="price">Цена: 0</span><br/>
		<input type="submit" value="Отправить">
	</form>
</div>
<script>
	number.onchange = () => {
		if(number.value < 0) number.value = 0;
		if(number.value > 100) number.value = 100;
		price.innerText = `Цена: ${number.value * @Model.Product.Price.ToString(System.Globalization.CultureInfo.GetCultureInfo("en-US"))}`;
	};
</script>