@page "{id}"
@model OrderModel
@{
	ViewData["Title"] = "Order";
}
<div>
	<h1>Покупка @Model.Product.Name</h1>
	<form method="post">
		<input type="hidden" name="id" value="@Model.Product.Id" />
		<label for="number">Количество</label>
		<input type="number" name="number" />
		<label for="adress">Адрес</label>
		<input type="text" name="adress" />
		<input type="submit" value="Отправить">
	</form>
</div>
